.title {
    font-size: 25px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    padding: 15px 6% 20px;
    display: flex;
    justify-content: start;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-left: 4%;
    margin: auto;
    padding-right: 4%;
    align-items: center;
    gap: 35px 0;
}


@media screen and (max-width: 1179px) and (min-width: 847px) {
    .wrapper {
        padding-left: 7%;
        padding-right: 7%;
    }
}

@media screen and (max-width: 656px) {
    .wrapper {
        padding-left: 1%;
        padding-right: 1%;
    }
}

@media screen and (min-width: 1460px) {
    .wrapper {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media screen and (min-width: 1687px) {
    .wrapper {
        padding-left: 17%;
        padding-right: 17%;
    }
}